# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# Logs
*.log

# Excel files
*.xlsx
*.xls

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# Icon cache
IconCache.db